In [9]:
import requests
import pandas as pd

In [6]:
API_KEY = ***

In [21]:
r = requests.get('https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?start_date=2017-01-01&end_date=2017-12-31&api_key='+API_KEY)
result = r.json()

In [88]:
df_cols = result['dataset']['column_names']
df_rows = result['dataset']['data']
df = pd.DataFrame(df_rows, columns=df_cols)
df.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,None
1,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,None
2,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,None
3,2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,None
4,2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,None

### 3. Calculate what the highest and lowest opening prices were for the stock in this period.

In [80]:
highest = df['Open'][df['Open']==df['Open'].max()]
print('The highest opening price in 2017 was $%4.2f.'% highest)

The highest opening price in 2017 was $53.11.

In [79]:
lowest = df.Open[df.Open == df.Open.min()]
print('The lowest opening price in 2017 was $%4.2f.'% lowest)

The lowest opening price in 2017 was $34.00.

### 4. What was the largest change in any one day (based on High and Low price)?

In [85]:
largest_change = (df['High']-df['Low']).max()
print('The largest change in any one day was: $%4.2f per share'% largest_change)

The largest change in any one day was: $2.81 per share

### 5. What was the largest change between any two days (based on Closing Price)?

In [75]:
daily_change = df.Close.diff().abs().max(skipna=True)
print('The largest change between any two days based on Closing price was: %4.2f per share.'% daily_change)

The largest change between any two days based on Closing price was: 2.56 per share.

### 6. What was the average daily trading volume during this year?

In [73]:
average_trading_volume = df['Traded Volume'].mean()
print('The average trading volume was %8.2f shares in 2017.'% average_trading_volume)

The average trading volume was 89124.34 shares in 2017.

### 7. What was the median trading volume during this year?

In [81]:
median_trading_vol = df['Traded Volume'].median()
print('The median trading volume was %8.2f shares in 2017.'% median_trading_vol)

The median trading volume was 76286.00 shares in 2017.